@model IPagedList<BLL_DAL.Mon>
@using PagedList.Mvc
@using PagedList


<div class="container">
    <div class="row gx-3">
        @{
            int count = 0;
            foreach (var mon in Model)
            {
                if (count == 0)
                {
                    <div class="col-sm-12 col-md-3 col-md-offset-1 mon-item" style="display: flex; justify-content: center; flex-direction: column; align-items: center; margin-bottom: 30px; border: 1px solid #ff0000; border-radius: 15px;">
                        <div style="margin:10px auto">@mon.M_Ten</div>
                        <img src="~/images/@mon.M_IMG" style="margin-bottom: 5px" />
                        <button class="btn btn-danger" style="margin-bottom: 5px" onclick="addToCart('@mon.M_Ten', '@mon.M_Gia', '@mon.M_IMG')">Đặt món</button>
                    </div>
                    count++;
                }
                else
                {
                    <div class="col-sm-12 col-md-3 col-md-offset-1 mon-item" style="display: flex; justify-content: center; flex-direction: column; align-items: center; margin-bottom: 30px; border: 1px solid #ff0000; border-radius: 15px;">
                        <div style="margin:10px auto">@mon.M_Ten</div>
                        <img src="~/images/@mon.M_IMG" style="margin-bottom: 5px"/>
                        <button class="btn btn-danger" style="margin-bottom: 5px" onclick="addToCart('@mon.M_Ten', '@mon.M_Gia', '@mon.M_IMG')">Đặt món</button>
                    </div>
                    count = 0;
                }
                
            }
        }

    </div>

    <script>
        function addToCart(ten, gia, hinh) {
            var successDialog = document.getElementById('successDialog');
            successDialog.classList.add('active');

            document.getElementById('closeSuccessDialog').addEventListener('click', function () {
                successDialog.classList.remove('active');
            });

            let cart = []
            if(localStorage.getItem('cart')){
                cart = JSON.parse(localStorage.getItem('cart'))
            }
            
            for(let i = 0 ; i < cart.length ; i++){
                if(cart[i].ten == ten){
                    let qty = cart[i].Qty
                    qty++
                    cart[i].Qty = qty
                    localStorage.setItem('cart', JSON.stringify(cart))
                    updateQuantity()
                    loadCart()
                    return
                }
            }
            
            var cartItem = {ten: ten, gia: gia, Qty: 1, hinh: hinh}
            cart.push(cartItem)
            localStorage.setItem('cart', JSON.stringify(cart))
            updateQuantity()
            loadCart()

        }

        function updateQuantity(){
            let cart = []
            if(localStorage.getItem('cart')){
                cart = JSON.parse(localStorage.getItem('cart'))
            }
            document.getElementById('productQuantity').innerHTML = cart.length
        }

        function loadCart() {
            let cart = []
            if (localStorage.getItem('cart')) {
                cart = JSON.parse(localStorage.getItem('cart'))
            }
            for (let i = 0 ; i < cart.length ; i++) {
                var table = document.getElementById('cart-item')
                var row = table.insertRow();
                var cell1 = row.insertCell();
                var cell2 = row.insertCell();
                var cell3 = row.insertCell();
                var cell4 = row.insertCell();

                cell1.innerHTML = cart[i].ten;
                cell2.innerHTML = cart[i].gia;
                cell3.innerHTML = cart[i].Qty;
                cell4.innerHTML = cart[i].hinh;
            }

        }
    </script>
</div>

@Html.PagedListPager(Model, i => Url.Action("Index", "ThucDon", new { index = i }))