@model IPagedList<BLL_DAL.Mon>
@using PagedList.Mvc
@using PagedList


<div class="container">
    <div class="prod-list">
        <div class="v-row-box owl-carousel owl-loaded">
            <div class="owl-stage-outer pad pll-30">
                @{

                    foreach (var mon in Model)
                    {
                        <div class="owl-item pad pll-30 pbl-30" style="width: 280px;">
                            <div class="p-part mar mal-5">
                                <div class="prod-part">
                                    <div class="vrow">
                                        <div class="vcol cl-12 p-img">
                                            <div class="backgound-link">
                                                <div class="v-box pad ptl-90p">
                                                    <div class="box-info-img fixpad eff-img-zoom">
                                                        <div style="background-image:url(../../images/@mon.M_IMG)"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-img-icon">
                                            </div>
                                        </div>
                                        <div class="vcol cl-12">
                                            <div class="v-row-box pad pdl-5 ptl-10 pbl-0 p-info">
                                                <div class="vcol cl-12 p-title">
                                                    <h2 class="font n fl-16 ft-15 tcenter">@mon.M_Ten</h2>
                                                </div>
                                                <div class="vcol cl-12 pad ptl-5 pbl-5 p-more">
                                                    <div class="font tcenter">
                                                        <h3 class="font fl-15 ft-14 pad pbl-10">@mon.M_Gia đ</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pad pdl-10 font tcenter">
                                            <div class="order_button order_has_class cart_fb_order pad pdl-5 prl-15 pll-15 font tcenter ">
                                                <div class="v-distable">
                                                    <div>
                                                        <div class="order_noncheck">
                                                            <span class="font fl-12 tup" onclick="addToCart('@mon.M_Ten', '@mon.M_Gia', '@mon.M_IMG')">Đặt món</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

    <script>
        function addToCart(ten, gia, hinh) {
            var successDialog = document.getElementById('successDialog');
            successDialog.classList.add('active');

            document.getElementById('closeSuccessDialog').addEventListener('click', function () {
                successDialog.classList.remove('active');
            });

            let cart = []
            if (localStorage.getItem('cart')) {
                cart = JSON.parse(localStorage.getItem('cart'))
            }

            for (let i = 0 ; i < cart.length ; i++) {
                if (cart[i].ten == ten) {
                    let qty = cart[i].Qty
                    qty++
                    cart[i].Qty = qty
                    localStorage.setItem('cart', JSON.stringify(cart))
                    updateQuantity()
                    loadCart()
                    return
                }
            }

            var cartItem = { ten: ten, gia: gia, Qty: 1, hinh: hinh }
            cart.push(cartItem)
            localStorage.setItem('cart', JSON.stringify(cart))
            updateQuantity()
            loadCart()
        }

        function updateQuantity() {
            let cart = []
            if (localStorage.getItem('cart')) {
                cart = JSON.parse(localStorage.getItem('cart'))
            }
            let sl = 0;
            for (let i = 0; i < cart.length; i++) {
                sl += cart[i].Qty;
            }
            document.getElementById('productQuantity').innerHTML = sl
        }
    </script>
</div>
@Html.PagedListPager(Model, i => Url.Action("Index", "ThucDon", new { index = i }))
