<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUÁN MÌ CAY</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <style>
        .show {
            display: block !important;
        }
    </style>
    <style media="screen and (min-width: 740px) and (max-width: 1024px)" >
        .wrap-content {
            min-height: 640px;
        } 
        
        .logo-wrapper {
            float: left;
            background-color: #ecdcc7;
            border-radius: 0 0 10px 10px;
            display: inline-block;
            margin-left: 30px;
            padding-top: 10px;
        }

        .form-search-pc {
            display: none !important;
        }

        .modal-mobile-style {
            display: block !important;
        }

        .cart-place {
            right: 48px;
        }
    </style>
    <style media="screen and (min-width: 1024px)" >
        .logo-wrapper {
            float: left;
            background-color: #ecdcc7;
            border-radius: 0 0 10px 10px;
            display: inline-block;
            padding-top: 10px;
            margin-left: 30px;
        }

        .navbar-menu-pc {
            display: block;
        }

        .mon-item {
            margin-bottom: 5px;
            display: inline-block;
            align-self: auto;
        }

        .mon-item img {
            width: 150px;
            height: 180px;
        }

        .form-search-pc {
            display: block !important;
        }

        .modal-mobile-style {
            display: none !important;
        }

        .cart-place {
            right: -4px;
        }

        .menu-mobile {
            display: none !important;
        }
        .overlay {
            display: none;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
            z-index: 1;
        }

        .dialog {
            display: none;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 2;
        }

        .dialog-content {
            text-align: center;
        }

        .dialog.active,
        .overlay.active {
            display: flex;
            border:solid 1px gray;
            top:60px;
            left:40%;
            position: fixed;
            z-index: 0;
        }
    </style>

    <style media="screen and (max-width: 740px)">
        .logo-wrapper {
            margin-left: 30px;
            float: left;
            background-color: #ecdcc7;
            border-radius: 0 0 10px 10px;
            display: inline-block;
            padding-top: 10px;
        }

        .navbar-menu-pc {
            display: none;
        }

        .mon-item {
            margin-bottom: 5px;
            display: inline-block;
            align-self: auto;
        }

        .mon-item img {
            width: 150px;
            height: 180px;
        }

        .form-search-pc {
            display: none !important;
        }

        .modal-mobile-style {
            display: none !important;
            position: fixed;
            z-index: 1001;
            background-color: #BE1E2D;
            top: 0;
            bottom: 0;
            right: 120px;
            left: 0;
        }

        .modal-mobile ul li {
            list-style-type: none;
            line-height: 42px;
        }

        .nav-link-modal-mobile {
            padding-left: 20px;
        }
        
        .nav-link-modal-mobile a {
            color: #fff;
            text-decoration: none;
            display: block;
            width: 100%;
        }

        .nav-link-modal-mobile:hover {
            background-color: rgba(255, 255, 255, .3);
        }

        .search-text-mobile {
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 0px;
            border-top-left-radius: 15px;
            border-top-right-radius: 0px;
        }

        .cart-place {
            right: 48px;
        }

        .show {
            display: block !important;
        }

        .overlay {
            display: none;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
            z-index: 1;
        }

        .dialog {
            display: none;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 2;
        }

        .dialog-content {
            text-align: center;
        }

        .dialog.active,
        .overlay.active {
            display: flex;
            border:solid 1px gray;
            top:60px;
            left:40%;
            position: fixed;
            z-index: 0;
        }
    </style>
</head>
<body onload="hienThiBanDau()">
    <div class="wrap-content" style="min-height: 640px;">
        <div class="navbar navbar-inverse" style="background-color: #be1e2d; min-width: 740px">
            <div style="display: flex; flex-direction:row; justify-content: space-between; position: relative">
                <div>
                    <div class="logo-wrapper" style="position:absolute">
                        <img class="navbar-brand" src="https://gimji.vn/webs_image/uploads/website/LogoGimji2_-1-.png" width="100px" />
                    </div>

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-menu-pc" style="margin-left: 125px;">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","TrangChu")">Trang chủ</a>
                        </li>
                        <li class="nav-item mx-5">
                            <a class="nav-link" href="@Url.Action("Index","ThucDon")">Thực đơn</a>
                        </li>
                        <li class="nav-item mx-5">
                            <a class="nav-link" href="@Url.Action("Index","TinTuc")">Tin tức</a>
                        </li>
                        <li class="nav-item mx-5">
                            <a class="nav-link" href="@Url.Action("Index","TuyenDung")">Tuyển dụng</a>
                        </li>
                        <li class="nav-item mx-5">
                            <a class="nav-link" href="@Url.Action("Index","LienHe")">Liên hệ</a>
                        </li>
                    </ul>
                </div>

                <div style="display: flex; position: relative">
                    <form class="p-2 mr-5 form-search-pc" style="display: flex; flex-direction: row; padding-left: 5px; padding-right: 15px; margin-top: 7px; position: fixed; top: 0; right: 48px;">
                        <input id="searchText" class="form-control mr-sm-2 search-text-pc" type="search" placeholder="Tìm kiếm" style="display: inline-block; width: 400px; border-bottom-left-radius: 15px; border-top-left-radius: 15px;">
                        <a class="btn" onclick="searchWithText()" style="background-color: #ffecc9; border-bottom-left-radius: 0px; border-bottom-right-radius: 15px; border-top-left-radius: 0px; border-top-right-radius: 15px; display: inline-block; height: 34px; margin-left: -8px;">
                            <img src="~/images/search.png" />
                        </a>
                    </form>

                    <div class="cart-place" style="position: fixed; top: 0;">
                        <a href="/GioHang/Index" class="mx-3 text-danger position-relative" role="button" aria-expanded="false" style="display: block; margin-top: 8px; position: relative; padding-right: 25px;">
                            <img src="~/images/shopping-bag.png" />
                            <span class="position-absolute quantity" style="font-size: 12px; color: #000; position: absolute; margin-top: -5px;" id="productQuantity"></span>
                        </a>
                    </div>

                    <a onclick="hienThiModal()" class="mx-3 text-danger position-relative menu-mobile" role="button" aria-expanded="false" style="display: block; margin-top: 8px; padding-right: 25px; cursor: pointer; position: fixed; top: 0; right: 0px;">
                        <img src="~/images/menu.png" />
                    </a>
                </div>
            </div>
        </div>

        <div id="modal-mobile" class="modal-mobile-style" style="max-width: 600px; background-color: #be1e2d;">
            <form class="p-2 mr-5 form-search-mobile" style="display: flex; flex-direction: row; padding-top: 30px; padding-bottom: 20px; padding-left: 5px; padding-right: 5px">
                <input id="searchText" class="form-control mr-sm-2 search-text-mobile" type="search" placeholder="Tìm kiếm" style="display: inline-block; width: 400px">
                <a class="btn" onclick="searchWithText()" style="background-color: #ffecc9; border-bottom-left-radius: 0px; border-bottom-right-radius: 15px; border-top-left-radius: 0px; border-top-right-radius: 15px; ">
                    <img src="~/images/search.png" />
                </a>
            </form>

            <ul style="padding-left: 0 !important; margin-left: -40px;">
                <li class="nav-link-modal-mobile">
                    <a class="nav-link" href="@Url.Action("Index","TrangChu")">TRANG CHỦ</a>
                </li>
                <li class="nav-link-modal-mobile">
                    <a class="nav-link" href="@Url.Action("Index","ThucDon")">THỰC ĐƠN</a>
                </li>
                <li class="nav-link-modal-mobile">
                    <a class="nav-link" href="@Url.Action("Index","TinTuc")">TIN TỨC</a>
                </li>
                <li class="nav-link-modal-mobile">
                    <a class="nav-link" href="@Url.Action("Index","TuyenDung")">TUYỂN DỤNG</a>
                </li>
                <li class="nav-link-modal-mobile">
                    <a class="nav-link" href="@Url.Action("Index","LienHe")">LIÊN HỆ</a>
                </li>
            </ul>
        </div>

        <div class="container body-content">
            @RenderBody()
        </div>
        <div id="successDialog" class="dialog">
            <div class="dialog-content">
                <p>Món đã được thêm vô giỏ hàng !!!</p>
                <button id="closeSuccessDialog" class="btn btn-danger">OK</button>
            </div>
        </div>

        <div id="deleteDialog" class="dialog">
            <div class="dialog-content">
                <p>Xác nhận xóa món !!!</p>
                <button id="okDeleteDialog" class="btn btn-danger">OK</button>
                <button id="closeDeleteDialog" class="btn btn-link">Cancel</button>
            </div>
        </div>
    </div>

    <script>
    function searchWithText() {
        var searchText = document.getElementById('searchText').value
        var url = '@Url.Action("Index", "TimKiem", new { text = "abc" })'
        url = url.replace("abc", searchText)
        window.location.href = url;
    }

    function hienThiModal() {
        document.getElementById('modal-mobile').classList.add('show')
    }

    function hienThiBanDau() {
        let cart = []
        if (localStorage.getItem('cart')) {
            cart = JSON.parse(localStorage.getItem('cart'))
        }
        updateQuantity();
        loadCart()
    }
    function updateQuantity() {
        let cart = []
        if (localStorage.getItem('cart')) {
            cart = JSON.parse(localStorage.getItem('cart'))
        }
        let sl = 0;
        for (let i = 0; i < cart.length; i++) {
            sl += cart[i].Qty;
        }
        document.getElementById('productQuantity').innerHTML = sl
    }

    function loadCart() {
        let cart = []
        if (localStorage.getItem('cart')) {
            cart = JSON.parse(localStorage.getItem('cart'))
        }
        for (let i = 0 ; i < cart.length ; i++) {
            var table = document.getElementById('cart-item')
            var row = table.insertRow();
            var cell1 = row.insertCell();
            var cell2 = row.insertCell();
            var cell3 = row.insertCell();
            var cell4 = row.insertCell();
            var cell5 = row.insertCell();

            cell2.innerHTML = cart[i].ten;
            cell3.innerHTML = cart[i].gia;
            cell1.innerHTML = "<img src=\"/images/" + cart[i].hinh + "\" width=\"100px\" height=\"100px\"/>";

            cell2.style.paddingTop = "45px";
            cell3.style.paddingTop = "45px";
            cell4.style.paddingTop = "45px";
            cell5.style.paddingTop = "40px";

            cell4.style.textAlign = "center";
            cell5.style.textAlign = "center";

            let ten = cart[i].hinh.substring(0, cart[i].hinh.length - 4);

            var quantityInput = document.createElement("input");
            quantityInput.setAttribute('id', ten);
            quantityInput.type = "number";
            quantityInput.min = "1";
            quantityInput.value = cart[i].Qty;
            quantityInput.style.width = "40px";
            quantityInput.style.border = "none";  


            quantityInput.addEventListener("input", function () {
                updateItemFromCart(cart[i].ten, ten);
            });

            cell4.appendChild(quantityInput);

            var deleteButton = document.createElement("button");
            deleteButton.innerHTML = "<img src=\"/images/delete.png\" width=\"40px\" height=\"40px\"/>";
            deleteButton.style.border = "none";
            deleteButton.style.backgroundColor = "white";

            deleteButton.onclick = function () {
                var deleteDialog = document.getElementById('deleteDialog');
                deleteDialog.classList.add('active');

                document.getElementById('closeDeleteDialog').addEventListener('click', function () {
                    deleteDialog.classList.remove('active');
                });

                document.getElementById('okDeleteDialog').addEventListener('click', function () {
                    removeItemFromCart(cart[i].ten);
                });
            };

            
            cell5.appendChild(deleteButton);
        }
    }

    function updateItemFromCart(ten, tenQty) {
        let cart = [];

        if (localStorage.getItem('cart')) {
            cart = JSON.parse(localStorage.getItem('cart'));
        }

        var inputQty = document.getElementById(tenQty);
        let qty = inputQty.valueAsNumber;

        for (let i = 0; i < cart.length; i++) {
            if (cart[i].ten === ten) {

                cart[i].Qty = qty;
            }
        }

        localStorage.setItem('cart', JSON.stringify(cart));
        updateQuantity();
        location.reload();
    }

    function removeItemFromCart(ten) {
        let cart = [];

        if (localStorage.getItem('cart')) {
            cart = JSON.parse(localStorage.getItem('cart'));
        }

        for (let i = 0; i < cart.length; i++) {
            if (cart[i].ten === ten) {
                let qty = cart[i].Qty;

                cart.splice(i, 1);
            }
        }

        localStorage.setItem('cart', JSON.stringify(cart));
        updateQuantity();
        location.reload();
    }
    </script>
</body>
</html>